<div class="card-row">
  <div class="card-col">
    <nb-card size="small">
      <nb-card-header>Starter Pack</nb-card-header>
      <nb-card-body>
        <b> Buy 200 credits for 99.99$ ONLY! </b>
        <br>
        <br>
        <br>
        <button class='mt-2' nbButton status='primary' (click)='purchase(200)' >
            Purchase
        </button>
      </nb-card-body>
      <nb-card-footer> These purchases are not refundable! </nb-card-footer>
    </nb-card>

    <nb-card size="small">
      <nb-card-header>Gambler Pack</nb-card-header>
      <nb-card-body>
        <b> Buy 500 credits for 199.99$ ONLY! </b>
        <br>
        <br>
        <br>
        <button class='mt-2' nbButton status='primary' (click)='purchase(500)' >
            Purchase
        </button>
      </nb-card-body>
      <nb-card-footer> These purchases are not refundable! </nb-card-footer>
    </nb-card>
  </div>

  <div class="card-col">
    <nb-card size="small">
      <nb-card-header>Casino Pack</nb-card-header>
      <nb-card-body>
        <b> Buy 1000 credits for 399.99$ ONLY! </b>
        <br>
        <br>
        <br>
        <button class='mt-2' nbButton status='primary' (click)='purchase(1000)' >
            Purchase
        </button>
      </nb-card-body>
      <nb-card-footer> These purchases are not refundable! </nb-card-footer>
    </nb-card>

    <nb-card size="small">
      <nb-card-header>High Stakes Pack</nb-card-header>
      <nb-card-body>
        <b> Buy 10,000 credits for 3999.99$ ONLY! </b>
        <br>
        <br>
        <br>
        <button class='mt-2' nbButton status='primary' (click)='purchase(10000)' >
            Purchase
        </button>
      </nb-card-body>
      <nb-card-footer> These purchases are not refundable! </nb-card-footer>
    </nb-card>
  </div>
</div>
